################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVVM/TodoList/obj
/MVVM/TodoList/.vs
/DesignPatterns/obj
