################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVVM/TodoList/obj
/MVVM/TodoList/.vs
/MVVM/TodoList/bin/Debug/net8.0-windows7.0
/DesignPatterns/bin/Debug/net8.0
/DesignPatterns/obj
